<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <title>Main</title>    
</head>
<body>
<div th:fragment="content">

	
    <!--@thymesVar id="pivio" type="io.pivio.view.app.overview.detail.view.DocumentViewModel"-->

    <div class="ui two column grid">
    
    	<style>
			.ui.header>.icon{
				display: inline-block !important;
			}
		</style>
		<script src="/js/12factor.js"></script>
		<script src="/js/resiliencefactors.js"></script>
		<script>
		
			// Create the XHR object.
			function createCORSRequest(method, url) {
			  var xhr = new XMLHttpRequest();
			  if ("withCredentials" in xhr) {
			    // XHR for Chrome/Firefox/Opera/Safari.
			    xhr.open(method, url, true);
			  } else if (typeof XDomainRequest != "undefined") {
			    // XDomainRequest for IE.
			    xhr = new XDomainRequest();
			    xhr.open(method, url);
			  } else {
			    // CORS not supported.
			    xhr = null;
			  }
			  return xhr;
			}
	
			// Make the actual CORS request.
			function makeCorsRequest() {
			  // This is a sample server that supports CORS.
			  var url = 'https://'+${pivio.document.url}+'/prometheus';
	
			  var xhr = createCORSRequest('GET', url);
			  if (!xhr) {
				console.log('CORS not supported');
			    return;
			  }
	
			  // Response handlers.
			  xhr.onload = function() {
			    var text = xhr.responseText;
			    console.log('Response from CORS request to ' + url);
			    console.log(text);
			  };
	
			  xhr.onerror = function() {
			    console.log('Woops, there was an error making the request.');
			  };
	
			  xhr.send();
			}
			
			makeCorsRequest();
		</script>
    
		<!-- first column -->    
        <div class="column">
        
			<!--GENERAL ===-->        
            <div class="ui  segment">
                <div class="ui teal top attached label">General</div>
                
                <h1 class="ui header"><i th:class="'icon '+${pivio.document.getStatusIcon()}"></i><span th:text="${pivio.document.name}"></span></h1>
              
                <div class="ui  basic ribbon label">Description</div>
                <p/>
                <p th:text="${pivio.document.description}"></p>
                
                <div class="ui basic label">
                    Shortname
                    <div class="detail" th:text="${pivio.getShortName()}"></div>
                </div>
                
                <div class="ui basic label">
                    Type
                    <div class="detail" th:text="${pivio.document.type}"></div>
                </div>

				<p/>
				<div class="ui  basic ribbon label">Business specific</div>
				<p/>
				<div th:if="${pivio.document.domain}" class="ui basic label">
                    <i class="circle thin icon"></i> Domain
                    <div class="detail" th:text="${pivio.document.domain}"></div>
                </div><p/>
                <div th:if="${pivio.document.subdomain}" class="ui basic label">
                    <i class="circle thin icon"></i> Subdomain
                    <div class="detail" th:text="${pivio.document.subdomain}"></div>
                </div><p/>
                <div th:if="${pivio.document.product}" class="ui basic label">
                    <i class="circle thin icon"></i> Product
                    <div class="detail" th:text="${pivio.document.product}"></div>
                </div><p/>
                <div class="ui basic label">
                    <i class="users icon"></i> Owner
                    <a th:href="'/app/overview/list?field=owner&amp;value='+${pivio.document.owner}"
                       th:text="${pivio.document.owner}"
                       class="detail"></a>
                </div>
				
				<!-- 
                <div th:if="${pivio.document.status}" class="ui basic label">
                    <i class="circle thin icon"></i> Status
                    <div class="detail" th:text="${pivio.document.status}"></div>
                </div>
                 -->
                
                <div th:if="${pivio.document.contact}" class="ui basic label">
                    <i class="users icon"></i> Contact
                    <div th:text="${pivio.document.contact}" class="detail"></div>
                </div>

                <div th:if="${pivio.document.vcsroot}" class="ui basic label">
                    <i class="file text outline icon"></i> Source
                    <div class="detail" th:text="${pivio.document.vcsroot}"></div>
                </div>

                <div th:if="${pivio.document.context}">
                    <div th:if="${pivio.document.context.belongs_to_bounded_context}" class="ui basic label">
                        <i class="circle thin icon"></i> Context
                        <div class="detail"><a
                                th:href="'/app/overview/list?field=context.belongs_to_bounded_context&amp;value='+${pivio.document.context.belongs_to_bounded_context}"
                                th:text="${pivio.document.context.belongs_to_bounded_context}"></a></div>
                    </div>

                    <div th:if="${pivio.document.context.visibility}" class="ui basic label">
                        <i class="privacy thin icon"></i> Intended usage:
                        <div class="detail"><a
                                th:href="'/app/overview/list?field=context.visibility&amp;value='+${pivio.document.context.visibility}"
                                th:text="${pivio.document.context.visibility}"></a></div>
                    </div>
                </div>

                <div th:if="${pivio.document.product_context}" class="ui basic label">
                    <i class="circle thin icon"></i> Product
                    <div class="detail"><a
                            th:href="'/app/overview/list?field=product_context&amp;value='+${pivio.document.product_context}"
                            th:text="${pivio.document.product_context}">
                    </a></div>
                </div>


                <div class="ui basic label">
                    <i class="file thin icon"></i> Json
                    <div class="detail"><a
                            th:href="${config.jsApiAddress}+'/document/'+${pivio.document.id}"
                            th:text="Link"></a></div>
                </div>

                <div th:each="tag : ${pivio.document.tags}">
                    <a class="ui tag label" th:text="${tag}"></a>
                </div>

                <p/>
                <p class="ui  basic ribbon label">Changes</p>
				<p />
                <div th:if="${pivio.document.links}">
                    <p>
                    <div th:each="link : ${pivio.document.links}" class="ui basic label">
                        <a th:href="${link.value}" th:text="${link.key}"></a>
                    </div>
                    </p>
                </div>

                <div class="ui tiny label ">
                    <i class="upload icon"></i><span th:text="${pivio.document.getPrettyUploadDate()}"></span> &nbsp;
                    <i class="write icon"></i> <span th:text="${pivio.document.getPrettyUploadDate()}"></span>
                </div>

				<p/>
				
				<p th:if="${pivio.document.other_attributes}" class="ui  basic ribbon label">Additional Information</p>
				<div th:if="${pivio.document.other_attributes}">
					<!--<p th:text="${pivio.document.other_attributes}"></p>-->
	              	<p>
	                	<div th:each="attribute: ${pivio.document.other_attributes}" class="ui basic label">
	                    	<i class="file thin icon"></i><span th:text="${attribute.key}"/>
                    		<div class="detail" th:text="${attribute.value}"></div>
                    		<p />
	                	</div>
	              	</p>
            	</div>
            	
            	
            </div>
            
            <p/>
            

        </div>

        <!-- second column -->
        <div class="column">     
  
            <!--RUNTIME-->
            <div class="ui segment">
                <div class="ui blue top attached label">Runtime</div>

				<div class="ui basic label"> Instances
                    <div class="detail"><a th:text="1"></a></div>
                </div>
                <div class="ui basic label"> RAM
                    <div class="detail"><a th:text="${pivio.document.runtime.ram}"></a></div>
                </div>
                <div class="ui basic label"> CPU
                    <div class="detail"><a th:text="${pivio.document.runtime.cpu}"></a></div>
                </div>
                <div class="ui basic label"> Disk
                    <div class="detail"><a th:text="${pivio.document.runtime.disk}"></a></div>
                </div>
                <div class="ui basic label"> Host
                    <div class="detail"><a th:text="${pivio.document.runtime.host_type}"></a></div>
                </div>
				
				<!-- 
                <div class="ui basic label"> Network Zone
                    <div class="detail"><a
                            th:href="'/app/overview/list?field=runtime.network_zone&amp;value='+${pivio.document.runtime.network_zone}"
                            th:text="${pivio.document.runtime.network_zone}"></a></div>
                </div>
				 -->
				 
            </div>  
            
            
            <!--PROMETHEUS-->
            <div class="ui segment">
                <div class="ui red top attached label">APM Agent - Prometheus</div>
                
                <div class="ui basic label"> URL
                    <div class="detail"><a target="_blank" th:href="'https://'+${pivio.document.url}" th:text="${pivio.document.url}"></a></div>
                </div>
                
                <div class="ui basic label"> Prometheus metrics
                    <div class="detail"><a target="_blank" th:href="'https://'+${pivio.document.url}+'/prometheus'" th:text="${pivio.document.url}+'/prometheus'"></a></div>
                </div>
                
                <p />
                <!-- iFrame of Grafana -->
                <div style="width:100%; overflow:hidden;" height="200" frameborder="0">
                	<div class="ui basic label">Response time
                    	<div class="detail"><a id="responsetime" th:text="1.15676799E8"></a></div>
                	</div>
                </div>                
            </div>

            <!--SERVICES-->
            <div class="ui segment">


                <div class="ui orange top attached label">Service</div>

                <p/>

                <div class="ui basic ribbon label"><i class="arrow right icon"></i>Provides</div>

                <p/>

                <div th:each="provides : ${pivio.service.provides}" class="ui basic label">
                    <!-- <div class="content">

                        <div class="header" th:text="${provides.description}"></div>
                        <div class="meta">
                            <span class="date" th:text="${provides.techInfo}"></span>
                        </div>

                        <p/>

                        <div th:each="dns : ${provides.public_dns}">
                            Public DNS:
                            <div class="ui label" th:text="${dns}"></div>
                        </div>

                        <a th:href="'/app/overview/'+${dependentServices.id}" class="ui orange label"
                           th:each="dependentServices : ${provides.dependentServices}"
                           th:text="${dependentServices.short_name}">-</a>

                    </div>  -->
                    <span>Service name</span>
                    <div class="detail" th:text="${provides.service_name}"></div>
                    <p />                    
                </div> <!-- provides div -->
				<!--  
                <div th:if="${pivio.document.service.depends_on}">
                    <div class="ui ribbon left basic label"><i class="arrow left icon"></i>Depends on</div>
                    <p/>

                    <h5 th:if="${not #lists.isEmpty(pivio.document.service.depends_on.external)}" class="header">
                        Internal
                    </h5>

                    <div class="ui divided" th:if="${pivio.service.internalServiceDependencies}">
                        <span th:each="internalDependency : ${pivio.service.internalServiceDependencies}">
                        <a th:if="${internalDependency.hasServiceId()}" class="blue ui label"
                           th:href="'/app/overview/'+${internalDependency.serviceId}"
                           th:text="${internalDependency.serviceDisplayName}"></a>
                        <span th:if="${!internalDependency.hasServiceId()}" class="gray ui label"
                              th:text="${internalDependency.serviceDisplayName}"></span>
                        </span>
                    </div>

                    <h5 th:if="${not #lists.isEmpty(pivio.document.service.depends_on.external)}" class="header">
                        Public External
                    </h5>

                    <div th:if="${pivio.document.service.depends_on}" class="ui card"
                         th:each="connection : ${pivio.document.service.depends_on.external}">
                        <div class="content">
                            <div class="header" th:text="${connection.target}"></div>
                            <div class="meta" th:text="${connection.via}"></div>
                            <p th:text="${connection.why}"></p>

                            <div class="ui basic label" th:text="${connection.transport_protocol}"></div>
                        </div>
                    </div>
                </div>
                -->
                
            </div>
          
            <p/>
            
            <!--SOFTWARE-DEPENDENCIES-->
            <div th:if="${pivio.document.software_dependencies}" class="ui segment">
                <div class="ui red top attached label">Software Dependencies</div>
                
                <div th:if="${pivio.document.service.buildpacks}" class="ui ribbon left basic label"><i class="cube icon"></i>Buildpacks</div>
	                <p/>
	                <div th:each="buildpack : ${pivio.document.service.buildpacks}">
	                    <i class="file thin icon"></i><span th:text="${buildpack}"></span>
	                </div>
                <p/>
                <!-- 
                <div class="ui ribbon left basic label">In Use</div>
                <ul class="ui list" th:each="dep : ${pivio.sortedDependencies}">
                    <li>
                        <span th:text="${dep.name +' : '+ dep.version+' '}"></span>
                        <a th:href="'/app/overview/list?field=software_dependencies.name&amp;value='+${dep.name}" th:text="${dep.name +' : '+ dep.version+' '}"></a>      
                    </li>
                </ul>

                <p/>

                <div class="ui ribbon left basic label">Licenses</div>
                <ul class="ui list" th:each="license : ${pivio.consolidatedLicenses}">
                    <li>
                        <span th:text="${license}"></span>
                        <a th:href="'/app/overview/list?field=software_dependencies.licenses.name&amp;value='+${license}" th:text="${license}"></a>
                    </li>
                </ul>
				-->
				 
            </div>

        </div>
    </div>
    
   	<div class="ui segment">
     	<div class="ui blue top attached label">Jira Monitoring</div>

        <p/>
        <div class="ui basic label">Related Components
	    	<div class="detail"><span th:text="..."></span></div>
	  	</div>
	  	
	    <div class="ui basic label">Open Issues
	    	<div class="detail"><a th:text="X"></a></div>
	    </div>
        
    </div>
    
    <div class="ui segment">
     	<div class="ui grey top attached label">Github Monitoring</div>

        <div class="ui basic label">Team size
	    	<div class="detail"><span th:text="1"></span></div>
	  	</div>
	  	
	    <div class="ui basic label">XXX
	    	<div class="detail"><a th:text="XXX"></a></div>
	    </div>
        
    </div>
    
    <div class="ui segment">
     	<div class="ui black top attached label">Jenkins Job Monitoring</div>

		<p class="ui  basic ribbon label">Last Build</p>
		
        <div class="ui basic label">Build by
	    	<div class="detail"><span id="buildby" th:text="JenkinsUser"></span></div>
	  	</div><br/>
	  	
	    <div class="ui basic label">Build number
	    	<div class="detail"><a id="buildnr" th:text="18"></a></div>
	    </div><br/>
	    
	    <div class="ui basic label">Branch
	    	<div class="detail"><a id="branch" th:text="master"></a></div>
	    </div><br/>
	    
	    <div class="ui basic label">Duration
	    	<div class="detail"><a id="duration" th:text="292818"></a></div>
	    </div><br/>
	    
	    <div class="ui basic label">Estimated duration
	    	<div class="detail"><a id="estimated duration" th:text="178358"></a></div>
	    </div><br/>
	    
	    <div class="ui basic label">Result
	    	<div class="detail"><a id="result" th:text="Success"></a></div>
	    </div><br/>
	    
	    <div class="ui basic label">Timestamp
	    	<div class="detail"><a id="timestamp" th:text="1540547302334"></a></div>
	    </div><br/>
	    <div class="ui basic label">Url
	    	<div class="detail"><a id="jenkinsurl" th:text=""></a></div>
	    </div>
        
    </div>
    
    <div class="ui segment">
    	<div class="ui yellow top attached label">Governance Monitoring</div>
		<div class="ui two column grid">
	        <div class="column ui segment">
		        <p class="ui  basic ribbon label">The twelve-factor methodology</p>
		        <p/>
		        <div class="ui basic label">I. Codebase
			    	<div class="detail"><a id="codebase" th:text="XXX"></a></div>
			  	</div><br/>
			    <div class="ui basic label">II. Dependencies
			    	<div class="detail"><a id="dependencies" th:text="XXX"></a></div>
			    </div><br/>
			    <div class="ui basic label">II. Configuration
			    	<div class="detail"><a id="configuration" th:text="XXX"></a></div>
			    </div><br/>
			    <div class="ui basic label">IV. Backing services
			    	<div class="detail"><a id="backingservices" th:text="XXX"></a></div>
			    </div><br/>
			    <div class="ui basic label">V. Build, release, run
			    	<div class="detail"><a id="buildreleaserun" th:text="XXX"></a></div>
			    </div><br/>
			    <div class="ui basic label">VI. Processes
			    	<div class="detail"><a id="processes" th:text="XXX"></a></div>
			    </div><br/>
			    <div class="ui basic label">VII. Port binding
			    	<div class="detail"><a id="portbinding" th:text="XXX"></a></div>
			    </div><br/>
			    <div class="ui basic label">VIII. Concurrency
			    	<div class="detail"><a id="concurrency" th:text="XXX"></a></div>
			    </div><br/>
			    <div class="ui basic label">IX. Disposability
			    	<div class="detail"><a id="disposability" th:text="XXX"></a></div>
			    </div><br/>
			    <div class="ui basic label">X. Dev/prod parity
			    	<div class="detail"><a id="devprodparity" th:text="XXX"></a></div>
			    </div><br/>
			    <div class="ui basic label">XI. Logs
			    	<div class="detail"><a id="logs" th:text="XXX"></a></div>
			    </div><br/>
			    <div class="ui basic label">XII. Admin processes
			    	<div class="detail"><a id="adminprocesses" th:text="XXX"></a></div>
			    </div>
		    </div>
		    
		    <div class="column ui segment">
			    <p class="ui  basic ribbon label">Resilienz</p>
			    <p/>
			    <div class="ui basic label">I. AZD Cloud
			    	<div class="detail"><a id="azdcloud" th:text="XXX"></a></div>
			  	</div><br/>
			    <div class="ui basic label">II. Redundancy
			    	<div class="detail"><a id="redundancy" th:text="XXX"></a></div>
			  	</div><br/>
			  	<div class="ui basic label">III. Zero Downtime deployment
			    	<div class="detail"><a id="zerodowntimedeployment" th:text="XXX"></a></div>
			  	</div><br/>
			  	<div class="ui basic label">IV. Retry
			    	<div class="detail"><a id="retry" th:text="XXX"></a></div>
			  	</div><br/>
			  	<div class="ui basic label">V. Isolation
			    	<div class="detail"><a id="isolation" th:text="XXX"></a></div>
			  	</div><br/>
			  	<div class="ui basic label">VI. Caching
			    	<div class="detail"><a id="caching" th:text="XXX"></a></div>
			  	</div><br/>
			  	<div class="ui basic label">VII. Fallback
			    	<div class="detail"><a id="fallback" th:text="XXX"></a></div>
			  	</div><br/>
			  	<div class="ui basic label">VIII. Loose Coupling
			    	<div class="detail"><a id="loosecoupling" th:text="XXX"></a></div>
			  	</div>
		  	</div>
	    </div>
    </div>
    
    <div class="ui segment">
     	<div class="ui black top attached label">Actions</div>

        <p/>
     	<div class="ui ribbon left basic label"><i class="cube icon"></i>Functions</div>

        <p/>
        <button class="negative ui button">
            <i class="ban icon"></i>
            <a th:href="'/app/overview/'+${pivio.document.id}+'/delete'" rel="nofollow">Delete Document</a>
        </button>
        
    </div>

</div>
	
</body>

</html>