<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <title>Main</title>    
</head>
<body>
<div th:fragment="content">

	
    <!--@thymesVar id="pivio" type="io.pivio.view.app.overview.detail.view.DocumentViewModel"-->

	<!-- Upper section -->
    <div class="ui two column grid">
    
    	<style>
			.ui.header>.icon{
				display: inline-block !important;
			}
			.ui.segment:first-child{
				margin-top: 1em !important;
			}
			.ui.segment:last-child{
				margin-bottom: 1em !important;
			}
			.governance-monitoring > .ui.basic.label{
				width: 100%;
			}
			.governance-monitoring > .ui.basic.label > .detail{
				float: right;
			}
			.bar{ 
				fill: cornflowerblue; 
			}
			.arc text {
		  		text-anchor: middle;
			}
			.infodialog{
				cursor:pointer;
			}
			.line {
			  fill: none;
			  stroke: steelblue;
			  stroke-width: 2px;
			}
		</style>
		
		<script src="/webjars/d3js/4.2.1/d3.min.js"></script>
		<script th:inline="javascript">
		
			function calculateRunningCosts(){
				//TODO
			}
		
			function drawJiraProgress(){
				console.log("Start drawing");
				var totalIssues = parseInt($("#total-issues").text(),10);
				var openIssues = parseInt($("#open-issues").text(),10);
				console.log("totalIssues", totalIssues);
				console.log("openIssues", openIssues);
				
				var data = [totalIssues-openIssues, openIssues];
				var text = ["Done", "To Do"];
				console.log("data", data);
			
				var width = $("#leftjiraside").width();
				console.log("width", width);
			    var height = $("#leftjiraside").height();;
			    console.log("height", height);
			    var radius = Math.min(width, height) / 2;
			    console.log("radius", radius);
				var color = d3.scaleOrdinal()
				    .range(["#21ba45", "#db2828"]);
		
				var arc = d3.arc()
				    .outerRadius(radius - 10)
				    .innerRadius(0);
		
				var labelArc = d3.arc()
				    .outerRadius(radius - 40)
				    .innerRadius(radius - 40);
		
				var pie = d3.pie()
				    .sort(null)
				    .value(function(d) { return d; });
		
				var svg = d3.select("#issues-ratio").append("svg")
				    	.attr("width", width)
				    	.attr("height", height)
				  		.append("g")
				    	.attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
		
				  var g = svg.selectAll(".arc")
				      	.data(pie(data))
				    	.enter().append("g")
				      	.attr("class", "arc");
		
				  g.append("path")
				      .attr("d", arc)
				      .style("fill", function(d) { return color(d.data); });
		
				  g.append("text")
				      .attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; })
				      .attr("dy", ".35em")
				      .text(function(d) { 
				    	  return text[d.index]; 
			    	  });
			}
			
			function drawGithubCommitActivity(){
				
				//TODO: get github data
				var data = [{date: "1-Feb-19", value: "0"}, {date: "31-Jan-19", value: "8"}, {date: "30-Jan-19", value: "38"}, {date: "28-Jan-19", value: "0"}];
				//var data = [];
				
				var margin = {top: 20, right: 20, bottom: 30, left: 40};
				var width = $("#github-commit-activity").width() - margin.left - margin.right;
				var height = 150;
				
				var parseTime = d3.timeParse("%d-%b-%y");
				
				var x = d3.scaleTime().range([0, width]);
				var y = d3.scaleLinear().range([height, 0]);
				
				var line = d3.line()
							.x(function(d) { return x(d.date); })
			    			.y(function(d) { return y(d.value); });
				
				var svg = d3.select("#github-commit-activity")
					.append("svg")
			    		.attr("width", width + margin.left + margin.right)
			    		.attr("height", height + margin.top + margin.bottom)
			  			.append("g")
			    	.attr("transform", 
			          	"translate(" + margin.left + "," + margin.top + ")");
				
				// format the data
				data.forEach(function(d) {
			      	d.date = parseTime(d.date);
			      	d.value = +d.value;
				});
				
				// Scale the range of the data
				x.domain(d3.extent(data, function(d) { return d.date; }));
				y.domain([0, d3.max(data, function(d) { return d.value; })]);
			        
				console.log("Data: ", data);
				
				// Add the valueline path.
			  	svg.append("path")
			      .data([data])
			      .attr("class", "line")
			      .attr("d", line);
			  	
			 	// Add the X Axis
			    svg.append("g")
			    	.attr("transform", "translate(0," + height + ")")
			        .call(d3.axisBottom(x));

			    // Add the Y Axis
			    svg.append("g").call(d3.axisLeft(y));
			}
			
			function drawJenkinsTimeComparisson(){
				// set the dimensions and margins of the graph
				var margin = {top: 20, right: 20, bottom: 30, left: 40},
				    width = $("#jenkins-time-comparisson").width() - margin.left - margin.right,
				    height = $("#leftjenkinsside").height() - margin.top - margin.bottom;
				var duration = parseInt($("#duration").text(),10);
				var estimatedduration = parseInt($("#estimatedduration").text(),10);

				// set the ranges
				var x = d3.scaleBand()
				          .range([0, width])
				          .padding(0.1);
				var y = d3.scaleLinear()
				          .range([height, 0]);
				          
				// append the svg object to the body of the page
				// append a 'group' element to 'svg'
				// moves the 'group' element to the top left margin
				var svg = d3.select("#jenkins-time-comparisson").append("svg")
				    .attr("width", width + margin.left + margin.right)
				    .attr("height", height + margin.top + margin.bottom)
				  .append("g")
				    .attr("transform", 
				          "translate(" + margin.left + "," + margin.top + ")");

				// get the data
				data = [
						{name:"duration in ms", value: duration},
						{name:"estimated duration in ms", value: estimatedduration}
					];
				
				// Scale the range of the data in the domains
				x.domain(data.map(function(d) { return d.name; }));
				y.domain([0, d3.max(data, function(d) { return d.value; })]);
				
				// append the rectangles for the bar chart
				svg.selectAll(".bar")
				    .data(data)
				  .enter().append("rect")
				    .attr("class", "bar")
				    .attr("x", function(d) { return x(d.name); })
				    .attr("width", x.bandwidth())
				    .attr("y", function(d) { return y(d.value); })
				    .attr("height", function(d) { return height - y(d.value); });
				
				// add the x Axis
				svg.append("g")
				    .attr("transform", "translate(0," + height + ")")
				    .call(d3.axisBottom(x));
				
				// add the y Axis
				svg.append("g")
				    .call(d3.axisLeft(y));
			}
		</script>

		
		<!-- first column -->    
        <div class="column">
        
			<!--GENERAL ===-->        
            <div class="ui  segment">
                <div class="ui blue top attached label">General</div>
                
                <h1 class="ui header"><i th:class="'icon '+${pivio.document.getStatusIcon()}"></i><span th:text="${pivio.document.name}"></span></h1>
              
                <div class="ui  basic ribbon label">Description</div>
                <p/>
                <p th:text="${pivio.document.description}"></p>
                
                <div class="ui basic label"> URL
                    <div class="detail"><a target="_blank" th:href="'https://'+${pivio.document.url}" th:text="${pivio.document.url}"></a></div>
                </div>
                <p/>
                
                <div class="ui basic label">
                    Shortname
                    <div class="detail" th:text="${pivio.getShortName()}"></div>
                </div>
                
                <div class="ui basic label">
                    Type
                    <div class="detail" th:text="${pivio.document.type}"></div>
                </div>

				<p/>
				<div class="ui  basic ribbon label">Business specific</div>
				<p/>
				<div th:if="${pivio.document.domain}" class="ui basic label">
                    <i class="circle thin icon"></i> Domain
                    <div class="detail" th:text="${pivio.document.domain}"></div>
                </div>
                <div th:if="${pivio.document.subdomain}" class="ui basic label">
                    <i class="circle thin icon"></i> Subdomain
                    <div class="detail" th:text="${pivio.document.subdomain}"></div>
                </div>
                <div th:if="${pivio.document.product}" class="ui basic label">
                    <i class="circle thin icon"></i> Product
                    <div class="detail" th:text="${pivio.document.product}"></div>
                </div>
                <div class="ui basic label">
                    <i class="users icon"></i> Owner
                    <a th:href="'/app/overview/list?field=owner&amp;value='+${pivio.document.owner}"
                       th:text="${pivio.document.owner}"
                       class="detail"></a>
                </div>
				
				<!-- 
                <div th:if="${pivio.document.status}" class="ui basic label">
                    <i class="circle thin icon"></i> Status
                    <div class="detail" th:text="${pivio.document.status}"></div>
                </div>
                 -->
                
                <div th:if="${pivio.document.contact}" class="ui basic label">
                    <i class="users icon"></i> Contact
                    <div th:text="${pivio.document.contact}" class="detail"></div>
                </div>

                <div th:if="${pivio.document.vcsroot}" class="ui basic label">
                    <i class="file text outline icon"></i> Source
                    <div class="detail" th:text="${pivio.document.vcsroot}"></div>
                </div>

                <div th:if="${pivio.document.context}">
                    <div th:if="${pivio.document.context.belongs_to_bounded_context}" class="ui basic label">
                        <i class="circle thin icon"></i> Context
                        <div class="detail"><a
                                th:href="'/app/overview/list?field=context.belongs_to_bounded_context&amp;value='+${pivio.document.context.belongs_to_bounded_context}"
                                th:text="${pivio.document.context.belongs_to_bounded_context}"></a></div>
                    </div>

                    <div th:if="${pivio.document.context.visibility}" class="ui basic label">
                        <i class="privacy thin icon"></i> Intended usage:
                        <div class="detail"><a
                                th:href="'/app/overview/list?field=context.visibility&amp;value='+${pivio.document.context.visibility}"
                                th:text="${pivio.document.context.visibility}"></a></div>
                    </div>
                </div>

                <div th:if="${pivio.document.product_context}" class="ui basic label">
                    <i class="circle thin icon"></i> Product
                    <div class="detail"><a
                            th:href="'/app/overview/list?field=product_context&amp;value='+${pivio.document.product_context}"
                            th:text="${pivio.document.product_context}">
                    </a></div>
                </div>

				<!--  
                <div class="ui basic label">
                    <i class="file thin icon"></i> Json
                    <div class="detail"><a
                            th:href="${config.jsApiAddress}+'/document/'+${pivio.document.id}"
                            th:text="Link"></a></div>
                </div>
                -->

                <div th:each="tag : ${pivio.document.tags}">
                    <a class="ui tag label" th:text="${tag}"></a>
                </div>

                <p/>
                <p class="ui  basic ribbon label">Changes</p>
				<p />
                <div th:if="${pivio.document.links}">
                    <p>
                    <div th:each="link : ${pivio.document.links}" class="ui basic label">
                        <a th:href="${link.value}" th:text="${link.key}"></a>
                    </div>
                    </p>
                </div>
                <div class="ui tiny label ">
                    <i class="upload icon"></i><span th:text="${pivio.document.getPrettyUploadDate()}"></span> &nbsp;
                    <i class="write icon"></i> <span th:text="${pivio.document.getPrettyUploadDate()}"></span>
                </div>
                <p />
                <p class="ui  basic ribbon label">Links</p>
				<p />
                <div th:if="${pivio.document.jira}" class="ui basic label">
                    <i class="file thin icon"></i> Jira
                    <div class="detail">
                    	<a target="_blank" th:href="${pivio.document.jira}" th:text="${pivio.document.jira}"></a>
                    </div>
                </div>
                <div th:if="${pivio.document.github}" class="ui basic label">
                    <i class="file thin icon"></i> Github
                    <div class="detail">
                    	<a target="_blank" th:href="${pivio.document.github}" th:text="${pivio.document.github}"></a>
                    </div>
                </div>
                <div th:if="${pivio.document.jenkins}" class="ui basic label">
                    <i class="file thin icon"></i> Jenkins
                    <div class="detail">
                    	<a target="_blank" th:href="${pivio.document.jenkins}" th:text="${pivio.document.jenkins}"></a>
                    </div>
                </div>
                <div th:if="${pivio.document.cloudfoundry}" class="ui basic label">
                    <i class="file thin icon"></i> CF-link
                    <div class="detail">
                    	<a target="_blank" th:href="${pivio.document.cloudfoundry}" th:text="${pivio.document.cloudfoundry}"></a>
                    </div>
                </div>
                <div th:if="${pivio.document.iteraplan}" class="ui basic label">
                    <i class="file thin icon"></i> Iteraplan
                    <div class="detail">
                    	<a target="_blank" th:href="${pivio.document.iteraplan}" th:text="${pivio.document.iteraplan}"></a>
                    </div>
                </div>

				<p/>
				
				<p th:if="${pivio.document.other_attributes}" class="ui  basic ribbon label">Additional Information</p>
				<div th:if="${pivio.document.other_attributes}">
					<!--<p th:text="${pivio.document.other_attributes}"></p>-->
	              	<p>
	                	<div th:each="attribute: ${pivio.document.other_attributes}" class="ui basic label">
	                    	<i class="file thin icon"></i><span th:text="${attribute.key}"/>
                    		<div class="detail" th:text="${attribute.value}"></div>
                    		<p />
	                	</div>
	              	</p>
            	</div>
            	
            	
            </div>
            
            <p/>
            

        </div>

        <!-- second column -->
        <div class="column">     
  
            <!--RUNTIME-->
            <div class="ui segment">
                <div class="ui blue top attached label">Runtime</div>

				<div class="ui basic label"> Instances
                    <div class="detail"><a th:text="${pivio.document.runtime.instances}"></a></div>
                </div>
                <div class="ui basic label"> RAM
                    <div class="detail"><a th:text="${pivio.document.runtime.ram}"></a></div>
                </div>
                <div class="ui basic label"> CPU
                    <div class="detail"><a th:text="${pivio.document.runtime.cpu}"></a></div>
                </div>
                <div class="ui basic label"> Disk
                    <div class="detail"><a th:text="${pivio.document.runtime.disk}"></a></div>
                </div>
                <div class="ui basic label"> Host
                    <div class="detail"><a th:text="${pivio.document.runtime.host_type}"></a></div>
                </div>
                
                <p />
                
                <div style="width:100%; overflow:hidden;" height="200" frameborder="0">
                	<div class="ui basic label">Running costs
                    	<div class="detail"><a id="runningcosts">$ 0.03 per hour</a></div>
                	</div>
                </div> 
				
				<!-- 
                <div class="ui basic label"> Network Zone
                    <div class="detail"><a
                            th:href="'/app/overview/list?field=runtime.network_zone&amp;value='+${pivio.document.runtime.network_zone}"
                            th:text="${pivio.document.runtime.network_zone}"></a></div>
                </div>
				 -->
				 
            </div>  
            
            
            <!--PROMETHEUS-->
            <div class="ui segment">
                <div class="ui blue top attached label">Metrics monitoring (Agent)</div>
                
                <div class="ui basic label"> Prometheus metrics
                    <div class="detail"><a target="_blank" th:href="'https://'+${pivio.document.url}+'/prometheus'" th:text="${pivio.document.url}+'/prometheus'"></a></div>
                </div>
                
                <p />
                
                <div style="width:100%; overflow:hidden;" height="200" frameborder="0">
                	<div class="ui basic label">Response time
                    	<div class="detail"><a id="responsetime" th:text="1.15676799E8"></a></div>
                	</div>
                </div>
                
                <p />
                
                <div style="width:100%; overflow:hidden;" height="200" frameborder="0">
                	<div class="ui basic label">HTTP Calls
                    	<div class="detail"><a id="responsetime" th:text="13586"></a></div>
                	</div>
                </div>                
            </div>

            <!--SERVICES-->
            <div class="ui segment">


                <div class="ui blue top attached label">Services</div>

                <p/>
				<!-- 
                <div class="ui basic ribbon label"><i class="arrow right icon"></i>Provides</div>

                <p/>
                 -->

                <div th:each="provides : ${pivio.service.provides}" class="ui basic label">
                    <!-- <div class="content">

                        <div class="header" th:text="${provides.description}"></div>
                        <div class="meta">
                            <span class="date" th:text="${provides.techInfo}"></span>
                        </div>

                        <p/>

                        <div th:each="dns : ${provides.public_dns}">
                            Public DNS:
                            <div class="ui label" th:text="${dns}"></div>
                        </div>

                        <a th:href="'/app/overview/'+${dependentServices.id}" class="ui orange label"
                           th:each="dependentServices : ${provides.dependentServices}"
                           th:text="${dependentServices.short_name}">-</a>

                    </div>  -->
                    <span>Service name</span>
                    <div class="detail" th:text="${provides.service_name}"></div>
                    <p />                    
                </div> <!-- provides div -->
				<!--  
                <div th:if="${pivio.document.service.depends_on}">
                    <div class="ui ribbon left basic label"><i class="arrow left icon"></i>Depends on</div>
                    <p/>

                    <h5 th:if="${not #lists.isEmpty(pivio.document.service.depends_on.external)}" class="header">
                        Internal
                    </h5>

                    <div class="ui divided" th:if="${pivio.service.internalServiceDependencies}">
                        <span th:each="internalDependency : ${pivio.service.internalServiceDependencies}">
                        <a th:if="${internalDependency.hasServiceId()}" class="blue ui label"
                           th:href="'/app/overview/'+${internalDependency.serviceId}"
                           th:text="${internalDependency.serviceDisplayName}"></a>
                        <span th:if="${!internalDependency.hasServiceId()}" class="gray ui label"
                              th:text="${internalDependency.serviceDisplayName}"></span>
                        </span>
                    </div>

                    <h5 th:if="${not #lists.isEmpty(pivio.document.service.depends_on.external)}" class="header">
                        Public External
                    </h5>

                    <div th:if="${pivio.document.service.depends_on}" class="ui card"
                         th:each="connection : ${pivio.document.service.depends_on.external}">
                        <div class="content">
                            <div class="header" th:text="${connection.target}"></div>
                            <div class="meta" th:text="${connection.via}"></div>
                            <p th:text="${connection.why}"></p>

                            <div class="ui basic label" th:text="${connection.transport_protocol}"></div>
                        </div>
                    </div>
                </div>
                -->
                
            </div>
          
            <p/>
            
            <!--SOFTWARE-DEPENDENCIES-->
            <div th:if="${pivio.document.software_dependencies}" class="ui segment">
                <div class="ui blue top attached label">Software Dependencies</div>
                
                <div th:if="${pivio.document.service.buildpacks}" class="ui ribbon left basic label"><i class="cube icon"></i>Buildpacks</div>
	                <p/>
	                <div th:each="buildpack : ${pivio.document.service.buildpacks}">
	                    <i class="file thin icon"></i><span th:text="${buildpack}"></span>
	                </div>
                <p/>
                <!-- 
                <div class="ui ribbon left basic label">In Use</div>
                <ul class="ui list" th:each="dep : ${pivio.sortedDependencies}">
                    <li>
                        <span th:text="${dep.name +' : '+ dep.version+' '}"></span>
                        <a th:href="'/app/overview/list?field=software_dependencies.name&amp;value='+${dep.name}" th:text="${dep.name +' : '+ dep.version+' '}"></a>      
                    </li>
                </ul>

                <p/>

                <div class="ui ribbon left basic label">Licenses</div>
                <ul class="ui list" th:each="license : ${pivio.consolidatedLicenses}">
                    <li>
                        <span th:text="${license}"></span>
                        <a th:href="'/app/overview/list?field=software_dependencies.licenses.name&amp;value='+${license}" th:text="${license}"></a>
                    </li>
                </ul>
				-->
				 
            </div>

        </div>
    </div>
    
    <!-- Jira Monitoring -->
   	<div class="ui segment">
     	<div class="ui blue top attached label">Jira Monitoring</div>
     	<div class="ui two column grid">
			<div class="column ui segment" id="leftjiraside">
				<span th:text="${pivio.document.getJiraMonitoringData()}"></span>
				<div th:if="${pivio.document.jiraMonitoring}">
			    	<p class="ui  basic ribbon label">Jira Issues</p>
			    </div>
			    <br/>
			  	<div class="ui basic label" th:if="${pivio.document.jiraMonitoring}">Total Issues
			    	<div class="detail"><a id="total-issues" th:text="${pivio.document.jiraMonitoring.getTotalIssues()}"></a></div>
			    </div>
			    <div class="ui basic label" th:if="${pivio.document.jiraMonitoring}">Open Issues
			    	<div class="detail"><a id="open-issues" th:text="${pivio.document.jiraMonitoring.getOpenIssues()}"></a></div>
			    </div>
			    <br/>
			    <br/>
			    <div th:if="${pivio.document.jiraMonitoring}">
			    	<p class="ui  basic ribbon label">Components in Jira-Project</p>
			    </div>
			    <br/>
		        <div th:if="${pivio.document.jiraMonitoring}">
	                	<div th:each="component: ${pivio.document.jiraMonitoring.components}" class="ui basic label">
		                    	<i class="file thin icon"></i><span th:text="${component.key}"></span>
	                    		<div class="detail" th:text="${component.value}">
	                    		</div>
	                    		<br/>
	                	</div>
	           	</div>
		    </div>
		    
		    <div class="column ui segment">
		    	<div th:if="${pivio.document.jiraMonitoring}">
			    	<p class="ui  basic ribbon label">Jira progress</p>
			    </div>
		        <div id="issues-ratio" th:if="${pivio.document.jiraMonitoring}">
		        	<script type="text/javascript">
						drawJiraProgress();
					</script>
		        </div>
		    </div>
		</div>
    </div>
    
    <!-- Github Monitoring -->
    <div class="ui segment">
     	<div class="ui blue top attached label">Github Monitoring</div>
	  	<div class="ui two column grid">
	  			<div class="column ui segment" id="leftgithubside">
				    <div class="ui basic label">Contributors
			           <div class="detail" th:text="${pivio.document.getGithubMonitoringData()}"></div>
			       	</div>
			       	<br/>
			       	<div class="ui basic label">Lines of code
			           <div class="detail" th:text="1064"></div>
			       	</div>
	       		</div>
	       		<div class="column ui segment">
				    <p class="ui  basic ribbon label">Commit activity</p><p/>
				    <div id="github-commit-activity" th:if="${pivio.document.jenkinsMonitoring}">
						<script type="text/javascript">
							var data = /*[[${pivio.document.getCommitActivity()}]]*/ 'No information available';
							console.log("Data for github: ", data);
							drawGithubCommitActivity();
						</script>
					</div>
	       		</div>
       	</div>
    </div>
    
    <!-- Jenkins Monitoring -->
    <div class="ui segment">
     	<div class="ui blue top attached label">Jenkins Job Monitoring</div>
		
		<div class="ui two column grid">
			<div class="column ui segment" id="leftjenkinsside">
				<p class="ui  basic ribbon label">Last Build</p><p/>
		
			    <div class="ui basic label">
			    	<i th:class="'icon '+${pivio.document.jenkinsMonitoring.getStatusIcon(1)}"></i>
			    	Build number
			    	<div class="detail">
			    		<a id="buildnr" th:text="${pivio.document.jenkinsMonitoring.getBuildNumber()}"></a>
		   			</div>
			    </div><br/>
			    
			    <div class="ui basic label">
			    	<i th:class="'icon '+${pivio.document.jenkinsMonitoring.getStatusIcon(2)}"></i>
			    	Duration
			    	<div class="detail">
			    		<a id="duration" th:text="${pivio.document.jenkinsMonitoring.getDuration()}"></a>
		    		</div>
			    </div><br/>
			    
			    <div class="ui basic label">
			    	<i th:class="'icon '+${pivio.document.jenkinsMonitoring.getStatusIcon(3)}"></i>
			    	Estimated duration
			    	<div class="detail">
			    		<a id="estimatedduration" th:text="${pivio.document.jenkinsMonitoring.getEstimatedDuration()}"></a>
		    		</div>
			    </div><br/>
			    
			    <div class="ui basic label">
			    	<i th:class="'icon '+${pivio.document.jenkinsMonitoring.getStatusIcon(4)}"></i>Result
			    	<div class="detail">
			    		<a id="result" th:text="${pivio.document.jenkinsMonitoring.getResult()}"></a>
		    		</div>
			    </div><br/>
			    
			    <div class="ui basic label">
			    	<i th:class="'icon '+${pivio.document.jenkinsMonitoring.getStatusIcon(5)}"></i>
			    	Timestamp
			    	<div class="detail">
			    		<a id="timestamp" th:text="${pivio.document.jenkinsMonitoring.getTimestamp()}"></a>
		    		</div>
			    </div><br/>
			    <div class="ui basic label">
			    	<i th:class="'icon '+${pivio.document.jenkinsMonitoring.getStatusIcon(6)}"></i>
			    	Url
			    	<div class="detail">
			    		<a id="jenkinsurl" target="_blank" th:href="${pivio.document.jenkinsMonitoring.getUrl()}" th:text="${pivio.document.jenkinsMonitoring.getUrl()}"></a>
			    	</div>
			    </div>
			</div>
			<div class="column ui segment">
				<p class="ui  basic ribbon label">Last job comparisson</p>
				<div id="jenkins-time-comparisson" th:if="${pivio.document.jenkinsMonitoring}">
					<script type="text/javascript">
						drawJenkinsTimeComparisson();
					</script>
				</div>
			</div>
        </div>
    </div>
    
    <!-- Governance Monitoring -->
    <div class="ui segment">
    	<div class="ui blue top attached label">Governance Monitoring</div>
		<div class="ui two column grid">
	        <div class="column ui segment governance-monitoring">
		        <p class="ui  basic ribbon label">The twelve-factor methodology</p>
		        <p/>
		        <div class="ui basic label">
		        	<i th:class="'icon '+${pivio.document.governanceMonitoring.get12factorStatusIcon(1)}"></i>
		        	I. Codebase
			    	<div class="detail">
			    		<a id="codebase" class="infodialog" onclick="openInfoDialog('Codebase')" th:text="${pivio.document.governanceMonitoring.getCodebase()}"></a>
		    		</div>
			  	</div><br/>
			    <div class="ui basic label">
			    	<i th:class="'icon '+${pivio.document.governanceMonitoring.get12factorStatusIcon(2)}"></i>
			    	II. Dependencies
			    	<div class="detail"><a id="dependencies" class="infodialog" onclick="openInfoDialog('Dependencies')" th:text="${pivio.document.governanceMonitoring.getDependencies()}"></a></div>
			    </div><br/>
			    <div class="ui basic label">
			    	<i th:class="'icon '+${pivio.document.governanceMonitoring.get12factorStatusIcon(3)}"></i>
			    	III. Configuration
			    	<div class="detail"><a id="configuration" class="infodialog" onclick="openInfoDialog('Configuration')" th:text="${pivio.document.governanceMonitoring.getConfiguration()}"></a></div>
			    </div><br/>
			    <div class="ui basic label">
			    	<i th:if="${pivio.document.service != null}" class="icon circle green"></i>
			    	<i th:if="${pivio.document.service == null}" class="icon circle red"></i>
			    	IV. Backing services
			    	<div class="detail" th:if="${pivio.document.service != null}">
			    		<a id="backingservices" class="infodialog" onclick="openInfoDialog('Backing services')" th:text="Yes"></a>
		    		</div>
		    		<div class="detail" th:if="${pivio.document.service == null}">
			    		<a id="backingservices" class="infodialog" onclick="openInfoDialog('Backing services')" th:text="No"></a>
		    		</div>
			    </div><br/>
			    <div class="ui basic label">
			    	<i th:class="'icon '+${pivio.document.governanceMonitoring.get12factorStatusIcon(5)}"></i>
			    	V. Build, release, run
			    	<div class="detail"><a id="buildreleaserun" class="infodialog" onclick="openInfoDialog('Build, release and run')" th:text="${pivio.document.governanceMonitoring.getBuildReleaseRun()}"></a></div>
			    </div><br/>
			    <div class="ui basic label">
			    	<i th:class="'icon '+${pivio.document.governanceMonitoring.get12factorStatusIcon(6)}"></i>
			    	VI. Processes
			    	<div class="detail"><a id="processes" class="infodialog" onclick="openInfoDialog('Processes')" th:text="${pivio.document.governanceMonitoring.getProcesses()}"></a></div>
			    </div><br/>
			    <div class="ui basic label">
			    	<i th:class="'icon '+${pivio.document.governanceMonitoring.get12factorStatusIcon(7)}"></i>
			    	VII. Port binding
			    	<div class="detail"><a id="portbinding" class="infodialog" onclick="openInfoDialog('Port binding')" th:text="${pivio.document.governanceMonitoring.getPortBinding()}"></a></div>
			    </div><br/>
			    <div class="ui basic label">
			    	<i th:class="'icon '+${pivio.document.governanceMonitoring.get12factorStatusIcon(8)}"></i>
			    	VIII. Concurrency
			    	<div class="detail"><a id="concurrency" class="infodialog" onclick="openInfoDialog('Concurrency')" th:text="${pivio.document.governanceMonitoring.getConcurrency()}"></a></div>
			    </div><br/>
			    <div class="ui basic label">
			    	<i th:class="'icon '+${pivio.document.governanceMonitoring.get12factorStatusIcon(9)}"></i>
			    	IX. Disposability
			    	<div class="detail"><a id="disposability" class="infodialog" onclick="openInfoDialog('Disposability')" th:text="${pivio.document.governanceMonitoring.getDisposability()}"></a></div>
			    </div><br/>
			    <div class="ui basic label">
			    	<i th:class="'icon '+${pivio.document.governanceMonitoring.get12factorStatusIcon(10)}"></i>
			    	X. Dev/prod parity
			    	<div class="detail"><a id="devprodparity" class="infodialog" onclick="openInfoDialog('Dev/prod parity')" th:text="${pivio.document.governanceMonitoring.getDevProdParity()}"></a></div>
			    </div><br/>
			    <div class="ui basic label">
			    	<i th:class="'icon '+${pivio.document.governanceMonitoring.get12factorStatusIcon(11)}"></i>
			    	XI. Logs
			    	<div class="detail"><a id="logs" class="infodialog" onclick="openInfoDialog('Logs')" th:text="${pivio.document.governanceMonitoring.getLogs()}"></a></div>
			    </div><br/>
			    <div class="ui basic label">
			    	<i th:class="'icon '+${pivio.document.governanceMonitoring.get12factorStatusIcon(12)}"></i>
			    	XII. Admin processes
			    	<div class="detail"><a id="adminprocesses" class="infodialog" onclick="openInfoDialog('Admin processes')" th:text="${pivio.document.governanceMonitoring.getAdminProcesses()}"></a></div>
			    </div>
		    </div>
		    
		    <div class="column ui segment governance-monitoring">
		    	<p class="ui  basic ribbon label">Architecture belt</p>
		    		<!-- TODO -->
		    		<br/>
		    		<p></p>
		    		<p>No architecture belt for this application</p>
		    		<br/>
			    <p/>
			    <p class="ui  basic ribbon label">Resilience</p>
			    <p/>
			    <div class="ui basic label">
			    	<i class="icon circle red"></i>
			    	I. Enterprise Cloud
			    	<div class="detail"><a id="azdcloud" class="infodialog" onclick="openInfoDialog('AZD Cloud')" th:text="${pivio.document.governanceMonitoring.getIsHostedInAZDCloud()}"></a></div>
			  	</div><br/>
			    <div class="ui basic label">
			    	<i class="icon circle red"></i>
			    	II. Redundancy
			    	<div class="detail"><a id="redundancy" class="infodialog" onclick="openInfoDialog('Redundancy')" th:text="${pivio.document.governanceMonitoring.getRedundancy()}"></a></div>
			  	</div><br/>
			  	<div class="ui basic label">
			  		<i class="icon circle red"></i>
			  		III. Zero Downtime deployment
			    	<div class="detail"><a id="zerodowntimedeployment" class="infodialog" onclick="openInfoDialog('Zero Downtime deployment')" th:text="${pivio.document.governanceMonitoring.getZeroDowntimeDeployment()}"></a></div>
			  	</div><br/>
			  	<div class="ui basic label">
			  		<i class="icon circle red"></i>
			  		IV. Retry
			    	<div class="detail"><a id="retry" class="infodialog" onclick="openInfoDialog('Retry')" th:text="${pivio.document.governanceMonitoring.getRetry()}"></a></div>
			  	</div><br/>
			  	<div class="ui basic label">
			  		<i class="icon circle red"></i>
			  		V. Isolation
			    	<div class="detail"><a id="isolation" class="infodialog" onclick="openInfoDialog('Isolation')" th:text="${pivio.document.governanceMonitoring.getIsolation()}"></a></div>
			  	</div><br/>
			  	<div class="ui basic label">
			  		<i class="icon circle red"></i>
			  		VI. Caching
			    	<div class="detail"><a id="caching" class="infodialog" onclick="openInfoDialog('Caching')" th:text="${pivio.document.governanceMonitoring.getCaching()}"></a></div>
			  	</div><br/>
			  	<div class="ui basic label">
			  		<i class="icon circle red"></i>
			  		VII. Fallback
			    	<div class="detail"><a id="fallback" class="infodialog" onclick="openInfoDialog('Fallback')" th:text="${pivio.document.governanceMonitoring.getFallback()}"></a></div>
			  	</div><br/>
			  	<div class="ui basic label">
			  		<i class="icon circle red"></i>
			  		VIII. Loose Coupling
			    	<div class="detail"><a id="loosecoupling" class="infodialog" onclick="openInfoDialog('Loose Coupling')" th:text="${pivio.document.governanceMonitoring.getLooseCoupling()}"></a></div>
			  	</div>
		  	</div>
	    </div>
    </div>
    
    <!-- Actions -->
    <div class="ui segment">
     	<div class="ui black top attached label">Actions</div>

        <p/>
     	<div class="ui ribbon left basic label"><i class="cube icon"></i>Functions</div>

        <p/>
        <button class="negative ui button">
            <i class="ban icon"></i>
            <a th:href="'/app/overview/'+${pivio.document.id}+'/delete'" rel="nofollow">Delete Application</a>
        </button>
        
    </div>
	
	<!-- MODAL -->
	<div class="ui modal">
	  <i class="close icon"></i>
	  <div class="header">
	    <i class="icon info circle"></i>Information
	  </div>
	  <div class="image content">
	    <div class="description">
	      <div id="header-infobox" class="ui header"></div>
	      <p id="content-infobox"></p>
	    </div>
	  </div>
	  <div class="actions">
	    <div class="ui black right deny button">
	      Close
	    </div>
	  </div>
	</div>
	
	<script th:inline="javascript">
		function openInfoDialog(name){
			console.log("name: ",name);
			$(".ui.modal").modal("show");
			$("#header-infobox").text(name);
			switch(name) {
			  case "Codebase":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoCodebase()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "Dependencies":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoDependencies()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "Configuration":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoConfiguration()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "Backing services":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoBackingServices()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "Build, release and run":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoBuildReleaseRun()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "Processes":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoProcesses()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "Port binding":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoPortBinding()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "Concurrency":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoConcurrency()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "Disposability":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoDisposability()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "Dev/prod parity":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoDevProdParity()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "Logs":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoLogs()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "Admin processes":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoAdminProcesses()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "AZD Cloud":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoisHostedInAZDCloud()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "Redundancy":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoRedundancy()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "Zero Downtime deployment":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoZeroDowntimeDeployment()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "Retry":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoRetry()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "Isolation":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoIsolation()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "Caching":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoCaching()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "Fallback":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoFallback()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  case "Loose Coupling":
				  var message = /*[[${pivio.document.governanceMonitoring.getInfoLooseCoupling()}]]*/ 'No information available';
				  $("#content-infobox").text(message);
			    break;
			  default:
				  $("#content-infobox").text("Error retrieving information message");
			}
		}
	</script>
	
</div>
</body>

</html>