<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <title>Main</title>
</head>
<body>
<div th:fragment="content">

	 <style>
		#imgDiv {
		    margin: auto;
		    width: 50%;
		    padding: 10px;
		}
		#ea-analytics {
		    max-width: 100%;
		}
	 </style>

    <div class="ui container centered">
    </div>

    <h4 class="ui horizontal divider header">
        EA Cloud Analytics
    </h4>
    <div id="imgDiv">
    	<img id="ea-analytics" src="/imgs/ea-analytics.png" />
    </div>
    

</div>
</body>
</html>