<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <title>Main</title>
</head>
<body>
<div th:fragment="content">

	<style>
		.icon.big {
			font-size: 2em;
		}
		.node {
		   cursor:default;
		   fill: #2185d0 !important;
		}
		.node text {
		    font: 12px sans-serif;
		    fill: black;
		}
		/* Lines */
		.link {
		  	fill: none;
		  	stroke: #424242;
		  	stroke-width: 1.5px;
		}
		#org-chart {
		  	height:300px;
		  	width:100%;
		  	margin: 0px 0px 10px 0px;
		}
	</style>

    <script src="/webjars/d3js/4.2.1/d3.min.js"></script>
    <script src="/js/overview.js"></script>
    <script th:inline="javascript">
    	function drawOrgTree(data){
    		var treeData = data;

    		// Set the dimensions and margins of the diagram
    		var margin = {top: 20, right: 90, bottom: 30, left: 90},
    		    width = $("#org-chart").width() - margin.left - margin.right,
    		    height = $("#org-chart").height() - margin.top - margin.bottom;

    		// append the svg object to the body of the page
    		// appends a 'group' element to 'svg'
    		// moves the 'group' element to the top left margin
    		var svg = d3.select("#org-chart").append("svg")
    		    .attr("width", width + margin.right + margin.left)
    		    .attr("height", height + margin.top + margin.bottom)
    		  	.append("g")
    		    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    		var i = 0,
    		    duration = 750,
    		    root;

    		// declares a tree layout and assigns the size
    		var treemap = d3.tree().size([height, width]);

    		// Assigns parent, children, height, depth
    		root = d3.hierarchy(treeData, function(d) { 
    				if(d.children.length > 0){
    					return d.children; 
    				}else{
    					return [];	
    				}
    			});
    		root.x0 = height / 2;
    		root.y0 = 0;

    		// Collapse after the second level
    		if(root.children){
    			root.children.forEach(collapse);
			}
    		update(root);

    		// Collapse the node and all it's children
    		function collapse(d) {
    		  if(d.children) {
    		    d._children = d.children
    		    d._children.forEach(collapse)
    		    d.children = null
    		  }
    		}

    		function update(source) {

    		  // Assigns the x and y position for the nodes
    		  var treeData = treemap(root);

    		  // Compute the new tree layout.
    		  var nodes = treeData.descendants(),
    		      links = treeData.descendants().slice(1);

    		  // Normalize for fixed-depth.
    		  nodes.forEach(function(d){ d.y = d.depth * 180});

    		  // ****************** Nodes section ***************************

    		  // Update the nodes...
    		  var node = svg.selectAll('g.node')
    		      .data(nodes, function(d) {return d.id || (d.id = ++i); });

    		  // Enter any new modes at the parent's previous position.
    		  var nodeEnter = node.enter().append('g')
    		      .attr('class', 'node')
    		      .attr("transform", function(d) {
    		        return "translate(" + source.y0 + "," + source.x0 + ")";
    		    })
    		    .on('click', click);

    		  // Add Circle for the nodes
    		  nodeEnter.append('circle')
    		      .attr('class', 'node')
    		      .attr('r', 1e-6);

    		  // Add labels for the nodes
    		  nodeEnter.append('text')
    		      .attr("dy", ".35em")
    		      .attr("x", function(d) {
    		          return d.children || d._children ? -13 : 13;
    		      })
    		      .attr("text-anchor", function(d) {
    		          return d.children || d._children ? "end" : "start";
    		      })
    		      .text(function(d) { return d.data.name; });

    		  // UPDATE
    		  var nodeUpdate = nodeEnter.merge(node);

    		  // Transition to the proper position for the node
    		  nodeUpdate.transition()
    		    .duration(duration)
    		    .attr("transform", function(d) { 
    		        return "translate(" + d.y + "," + d.x + ")";
    		     });

    		  // Update the node attributes and style
    		  nodeUpdate.select('circle.node')
    		    .attr('r', 10)
    		    .attr('cursor', 'pointer');

    		  // Remove any exiting nodes
    		  var nodeExit = node.exit().transition()
    		      .duration(duration)
    		      .attr("transform", function(d) {
    		          return "translate(" + source.y + "," + source.x + ")";
    		      })
    		      .remove();

    		  // On exit reduce the node circles size to 0
    		  nodeExit.select('circle')
    		    .attr('r', 1e-6);

    		  // On exit reduce the opacity of text labels
    		  nodeExit.select('text')
    		    .style('fill-opacity', 1e-6);

    		  // ****************** links section ***************************
    		  // Update the links...
    		  var link = svg.selectAll('path.link')
    		      .data(links, function(d) { return d.id; });

    		  // Enter any new links at the parent's previous position.
    		  var linkEnter = link.enter().insert('path', "g")
    		      .attr("class", "link")
    		      .attr('d', function(d){
    		        var o = {x: source.x0, y: source.y0}
    		        return diagonal(o, o)
    		      });

    		  // UPDATE
    		  var linkUpdate = linkEnter.merge(link);

    		  // Transition back to the parent element position
    		  linkUpdate.transition()
    		      .duration(duration)
    		      .attr('d', function(d){ return diagonal(d, d.parent) });

    		  // Remove any exiting links
    		  var linkExit = link.exit().transition()
    		      .duration(duration)
    		      .attr('d', function(d) {
    		        var o = {x: source.x, y: source.y}
    		        return diagonal(o, o)
    		      })
    		      .remove();

    		  // Store the old positions for transition.
    		  nodes.forEach(function(d){
    		    d.x0 = d.x;
    		    d.y0 = d.y;
    		  });

    		  // Creates a curved (diagonal) path from parent to the child nodes
    		  function diagonal(s, d) {

    		    path = `M ${s.y} ${s.x}
    		            C ${(s.y + d.y) / 2} ${s.x},
    		              ${(s.y + d.y) / 2} ${d.x},
    		              ${d.y} ${d.x}`

    		    return path
    		  }

    		  // Toggle children on click.
    		  function click(d) {
    			  console.log("Clicked on: ",d.data.name);
    			  $("#searchbox").val(d.data.name);
    			  $("#searchbox").change();
			    if (d.children) {
			        d._children = d.children;
			        d.children = null;
			      } else {
			        d.children = d._children;
			        d._children = null;
			      }
			    update(d);
			  }
    		}
    	}
    </script>

    <div class="ui container centered">
        <div class="ui icon input">
            <input id="searchbox" type="text" size="30" autofocus="autofocus" placeholder="Quick Search..."/>
            <i class="search icon"></i>
        </div>
    </div>
    <!--@thymesVar id="pivioOverview" type="java.util.List"-->
    <!--@thymesVar id="card" type="io.pivio.view.app.overview.list.OverviewModel"-->
    
    <h4 class="ui horizontal divider header">
       	Filter tree
    </h4>
    <div id="context" class="ui container centered grey">
    	<div id="org-chart">
    	</div>
    </div>

    <h4 id="artifactsheader" class="ui horizontal divider header">
        Application/Services
    </h4>

    <div id="cards" class="ui cards container centered grey">

		<div th:if="${pivioOverview}">
			<script th:inline="javascript">
				var overviewData = /*[[${pivioOverview}]]*/ '';
			  	var data = {
			  			name: "Cloudfoundry",
			  			children: []
			  	};
			  	//domains
			  	overviewData.forEach(function(element){
			  		if(data.children.length == 0){
			  			data.children.push({
			  				name: element.domain,
			  				children: []
			  			});
			  		}else{
						if(data.children.some(item => item.name === element.domain)){
							
						}else{
							data.children.push({
								name: element.domain,
								children: []
							});
						}
			  		}
			  	});
			  	//subdomains
			  	data.children.forEach(function(domain){
			  		overviewData.forEach(function(element){
			  			if(domain.name == element.domain){
			  				if(domain.children.some(item => item.name === element.subdomain)){
							}else{
								domain.children.push({
									name: element.subdomain,
									children: []
								});
							}
			  			}
			  		});
			  	});
			  	//products
			  	data.children.forEach(function(domain){
			  		domain.children.forEach(function(subdomain){
			  			overviewData.forEach(function(element){
				  			if(subdomain.name == element.subdomain){
				  				if(subdomain.children.some(item => item.name === element.product)){
				  					
								}else{
									subdomain.children.push({
										name: element.product,
										children: []
									});
								}
				  			}
				  		});
			  		});
			  	});
			  	//application/services
			  	//products
			  	data.children.forEach(function(domain){
			  		domain.children.forEach(function(subdomain){
			  			subdomain.children.forEach(function(product){
			  				overviewData.forEach(function(element){
					  			if(product.name == element.product){
					  				if(product.children.some(item => item.name === element.name)){
					  					
									}else{
										product.children.push({
											name: element.name,
											children: []
										});
									}
					  			}
					  		});
			  			});
			  		});
			  	});
			  	
			  	drawOrgTree(data);
			</script>
		</div>	
        <a th:each="card : ${pivioOverview}" class="ui card"
           data-th-attr="data-meta=${card.meta}" th:href="'/app/overview/' + ${card.id}">
           
            <div class="content">
            <!-- th:if="${card.status}"  -->
                <div class="right floated ui"><i th:class="'icon big '+${card.getStatusIcon()}"></i></div>
                <div class="header" th:text="${card.name}"></div>
                <div class="meta" th:text="${card.owner}"></div>
                <div class="description" th:text="${card.description}"></div>
            </div>

            <div class="extra content">
                <div th:if="${card.context}" class="ui small label "> &nbsp;
                    <i class="circle thin icon"></i> <span th:text="${card.context.belongs_to_bounded_context}"></span>
                </div>

                <div class="ui small label ">
                    <i class="upload icon"></i> <span th:text="${card.getPrettyUploadDate()}"></span> &nbsp;
                    <i class="write icon"></i> <span th:text="${card.getPrettyUpdateDate()}"></span>
                </div>

            </div>
        </a>
        
    </div>

</div>
</body>
</html>