<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<head>
    <title>Main</title>
</head>
<body>
<div th:fragment="content">

    <style>
        .node {
            font: 300 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
            fill: #000;
        }
        .node text{
        	font: 300 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
            color: white;
        }

        .node:hover {
            fill: #000;
        }

        .link {
            stroke: steelblue;
            fill: none;
            pointer-events: none;
            stroke-width: 2px;
        }

        .node:hover,
        .node--source,
        .node--target {
            font-weight: 700;
        }

        .node--source {
            fill: #000;
        }

        .node--target {
            fill: #000;
        }

        .link--source,
        .link--target {
            stroke-opacity: 1;
            stroke-width: 4px;
        }

        .link--source {
            stroke: steelblue;
        }

        .link--target {
            stroke: steelblue;
        }

        #graph {
            width: 800px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
        #domain-graph {
        	margin: auto;
		    padding: 10px;
		}
		.sunburst-path{
			opacity: 0.2;
  			filter: alpha(opacity=50); /* For IE8 and earlier */
		}
		.sunburst-path:hover{
			opacity: 1;
		}
		.center{
			text-align: center;
		}

    </style>

    <script src="/webjars/d3js/4.2.1/d3.min.js"></script>
    <script src="/js/servicegraph.js"></script>
    <script src="/js/sunburst.js"></script>
    <script src="/js/adjacency-matrix-layout.js"></script>
    <script>
    var matrixData = {
			"nodes": [],
			"links": []
	};
    var responseFromServer;
    
    function showCommunicationInfo(element){
    	console.log("Clicked on cell...");
    	console.log(element);
		$(".ui.modal").modal("show");
		$("#header-infobox").text(element.id);
		$("#domain-src").text(element.source.group);
		$("#name-src").text(element.source.name);
		$("#domain-dest").text(element.target.group);
		$("#name-dest").text(element.target.name);
    }
    
    function getCount(name){
   		var index = matrixData.nodes.findIndex(x => x.name === name);
   		if(index > -1){
   			return matrixData.nodes[index].count;
   		}else{
   			return 0;
   		}
    }
    
    function drawMatrixAgain(){
    	var data = {
    			"nodes": [],
    			"links": []
    	};
    	console.log("dropdown-cluster on change");
    	d3.selectAll("#matrix-svg").remove();
    	var value = $("#dropdown-cluster").val();
    	console.log("value: ", value);
    	responseFromServer.forEach(function(element) {
    		if(data.nodes.some(item => item.name === element.name)){
    			
    		}else{
    			data.nodes.push({
    				"name": element.name,
    				"count": getCount(element.name),
    				"group": element.domain
    			});
    		}
		});
    	switch(value) {
		  case "name":
			  	data.nodes.sort((a,b) => (a.name > b.name) ? 1 : ((b.name > a.name) ? -1 : 0));
		    	break;
		  case "count":
			  	data.nodes.sort((a,b) => (a.count > b.count) ? -1 : ((b.count > a.count) ? 1 : 0));
			    break;	
		  case "group":
			  data.nodes.sort((a,b) => (a.group > b.group) ? 1 : ((b.group > a.group) ? -1 : 0));
			    break;	
		  default:
		}
    	console.log("Initial nodes: ", data.nodes);    	
    	console.log("responseFromServer: ", responseFromServer);
    	console.log("Empty links: ", data.links);
    	responseFromServer.forEach(function(element) {
    		if(data.nodes.some(item => item.name === element.name)){
    			
    		}else{
    			data.nodes.push({
    				"name": element.name,
    				"count": 0,
    				"group": element.domain
    			});
    		}
			if(element.hasOwnProperty('service')){
				if(element.service.hasOwnProperty('provides')){
					element.service.provides.forEach(function(el){
						getSortedIndex(data, element.name, el.service_name);
					});
				}
			}
		});
    	console.log("Sorted nodes: ", data.nodes);
    	console.log("New links: ", data.links);
    	console.log("***************************");
    	createAdjacencyMatrix(data);
    }
    
    function createAdjacencyMatrix(data) {
		d3.select("#domain-graph").attr("style", "padding: 20px 20px")
		var width = $("#graph-cloudfoundry").width();
		var height = width;
	  const adjacencyMatrix = d3.adjacencyMatrixLayout();

	  adjacencyMatrix
	    .size([width-240,height-240])
	    .nodes(data.nodes)
	    .links(data.links)
	    .directed(false)
	    .nodeID(d => d.name);

	  const matrixData = adjacencyMatrix();

	  const someColors = d3.scaleOrdinal().range(d3.schemeCategory20b);

	  d3.select('#domain-graph')
	  	.append('svg')
	  	.attr("id", "matrix-svg")
	  	.attr("width", width-80)
   		.attr("height", height-80)
	    .append('g')
	      .attr('transform', 'translate(160,160)')
	      .attr('id', 'adjacencyG')
	      .selectAll('rect')
	      .data(matrixData)
	      .enter()
	      .append('rect')
	        .attr('width', d => d.width)
	        .attr('height', d => d.height)
	        .attr('x', d => d.x)
	        .attr('y', d => d.y)
	        .style('stroke', 'black')
	        .style('stroke-width', '1px')
	        .style('stroke-opacity', .1)
	        .style('fill', 'steelblue')
	        .style('fill-opacity', d => d.weight * 1)
	        .on('click', function(d){showCommunicationInfo(d)});

	  d3.select('#adjacencyG')
	    .call(adjacencyMatrix.xAxis);

	  d3.select('#adjacencyG')
	    .call(adjacencyMatrix.yAxis);
	}
    
    function getSortedIndex(matrixData, name, servicename){
		var src = null;
		var dest = null;
		if(matrixData.nodes.some(item => item.name === name)){
			src = matrixData.nodes.findIndex(x => x.name === name);
			matrixData.nodes[src].count = matrixData.nodes[src].count + 1;
		}
		if(matrixData.nodes.some(item => item.name === servicename)){
			dest = matrixData.nodes.findIndex(x => x.name === servicename);
			matrixData.nodes[dest].count = matrixData.nodes[dest].count + 1;
		}
		matrixData.links.push({
			"source": src,
			"target": dest,
			"value" : 0
		});
	}
	
	function servicegraph(jsonArray){
		
		responseFromServer = jsonArray;
		
		function countProductSize(word, products){
			var numOfProducts = 0;
			products.forEach(function(element) {
				if(element === word){
			    	numOfProducts++;
			    }
			});
			return numOfProducts;
		}
		
		function format_help(sunData, jsonArray, diameter, products, matrixData){
			jsonArray.forEach(function(element) {
				element.imports = [];
				sunData.children.forEach(function(elementInSunData){
					if(element.domain == elementInSunData.name){
						if(elementInSunData.children.length == 0){
							elementInSunData.children.push({
								"name": element.product,
								"size": countProductSize(element.product, products)
							});
						}else{
							if(elementInSunData.children.some(item => item.name === element.product)){
								
							}else{
								elementInSunData.children.push({
									"name": element.product,
									"size": countProductSize(element.product, products)
								});
							}
						}
					}
				});
				if(element.hasOwnProperty('service')){
					if(element.service.hasOwnProperty('provides')){
						element.service.provides.forEach(function(el){
							element.imports.push(el.service_name);
							getSortedIndex(matrixData, element.name, el.service_name);
						});
					}
					//TODO
					//depends_on
					if(element.service.hasOwnProperty('buildpacks')){
						delete element.service.buildpacks;
					}
				}
			});
			
			drawSunburst(sunData, diameter);
		}
		
		function formatJsonForDrawingCanvas(jsonArray, diameter){

			var sunData = {
					"name": "Cloud-landscapce",
					"children": []
					};
			var domains = [];
			var subdomains = [];
			var products = [];
			var uniqueDomains = [];
			var uniqueProducts = [];
			//console.log("jsonArray: ", jsonArray);
			//include provides and dependson for relationships
			jsonArray.forEach(function(element) {
				domains.push(element.domain);
				subdomains.push(element.subdomain);
				products.push(element.product);
				if(matrixData.nodes.some(item => item.name === element.name)){
					
				}else{
					matrixData.nodes.push({
						"name": element.name,
						"count": 0,
						"group": element.domain
					});
				}
			});
			//console.log("matrixData: ", matrixData);
			$.each(domains, function(i, el){
			    if($.inArray(el, uniqueDomains) === -1) uniqueDomains.push(el);
			});
			uniqueDomains.forEach(function(element) {
				sunData.children.push({
					"name": element,
					"children": []
				});
			});
			//console.log("sunData", sunData);
			format_help(sunData, jsonArray, diameter, products, matrixData);
			drawCanvas(jsonArray); //communication diagram
			console.log("matrixData", matrixData);
			//console.log("matrixData: ", matrixData);
			createAdjacencyMatrix(matrixData);
		}
		
		// Lazily construct the package hierarchy from class names.
		function packageHierarchy(classes) {
		  var map = {};

		  function find(name, data) {
		    var node = map[name], i;
		    if (!node) {
		      node = map[name] = data || {name: name, children: []};
		      if (name.length) {
		        node.parent = find(name.substring(0, i = name.lastIndexOf(".")));
		        node.parent.children.push(node);
		        node.key = name.substring(i + 1);
		      }
		    }
		    return node;
		  }

		  classes.forEach(function(d) {
		    find(d.name, d);
		  });

		  return d3.hierarchy(map[""]);
		}

		// Return a list of imports for the given array of nodes.
		function packageImports(nodes) {
		  var map = {},
		      imports = [];

		  // Compute a map from name to node.
		  nodes.forEach(function(d) {
		    map[d.data.name] = d;
		  });

		  // For each import, construct a link from the source to target node.
		  nodes.forEach(function(d) {
			//console.log("D: ", d);
		    if(d.data.hasOwnProperty('imports')){
		    	d.data.imports.forEach(function(i) {
				      imports.push(map[d.data.name].path(map[i]));
				});
		    }
		  });//end nodes.forEach
		  return imports;
		}//end packageImports
		
		function mouseovered(d) {
		  node
		      .each(function(n) { n.target = n.source = false; });

		  link
		      .classed("link--target", function(l) { if (l.target === d) return l.source.source = true; })
		      .classed("link--source", function(l) { if (l.source === d) return l.target.target = true; })
		  	  .filter(function(l) { return l.target === d || l.source === d; })
		      .raise();

		  node
		      .classed("node--target", function(n) { return n.target; })
		      .classed("node--source", function(n) { return n.source; });
		}

		function mouseouted(d) {
		  link
		      .classed("link--target", false)
		      .classed("link--source", false);

		  node
		      .classed("node--target", false)
		      .classed("node--source", false);
		}
		
		function linkToDetailView(d){
			var id = d.data.id
			//console.log(d.data.id);
			window.location.href = '../app/overview/'+id;
		}
		
		function drawCanvas(jsonArray){
			
			var root = packageHierarchy(jsonArray)
			    .sum(function(d) { return d.size; });
			
			cluster(root);
			
			link = link
			  .data(packageImports(root.leaves()))
			  .enter().append("path")
			    .each(function(d) { d.source = d[0], d.target = d[d.length - 1]; })
			    .attr("class", "link")
			    .attr("d", line);
			
			node = node
			  .data(root.leaves())
			  .enter().append("text")
			    .attr("class", "node")
			    .attr("dy", "0.31em")
			    .attr("transform", function(d){return "rotate(" + (d.x - 90) + ")"+"translate(" + (d.y + 8) + ",0)";})
			    .attr("text-anchor", function(d){return "start";})
			    .text(function(d){return d.data.key;})
			    .on("mouseover", mouseovered)
      			.on("mouseout", mouseouted)
      			.on("click", linkToDetailView);
		}

		//console.log("Jsonobject:", jsonArray);
		var cloudfoundryDivBounding = d3.select("#graph-cloudfoundry").node().getBoundingClientRect();
		//console.log(cloudfoundryDivBounding);
		
		var diameter = (cloudfoundryDivBounding.width) - 40,
	    	radius = diameter / 2,
	    	innerRadius = radius / 2;
		
		var color = d3.scaleOrdinal(d3.schemeCategory20b);
		
		d3.select("#graph-cloudfoundry").attr("style", "padding: 20px 20px")

		var cluster = d3.cluster()
	    	.size([360, innerRadius]);

		var line = d3.radialLine()
	    	.curve(d3.curveBundle.beta(0.85))
	    	.radius(function(d){ return d.y; })
	    	.angle(function(d){ return d.x / 180 * Math.PI; });

		var svg = d3.select("#graph-cloudfoundry").append("svg")
	    	.attr("width", diameter)
	    	.attr("height", diameter)
	    	.attr("margin", "180px")
	  		.append("g")
	  		.attr("id", "sunburst-g")
	    	.attr("transform", "translate(" + radius + "," + radius + ")");

		var link = svg.append("g").selectAll(".link"),
	    	node = svg.append("g").selectAll(".node");
		
		formatJsonForDrawingCanvas(jsonArray, diameter);
	}
	</script>
    
    <h4 class="ui horizontal divider header">
       CloudFoundry - Service communications
    </h4>
    <div id="context" class="ui cards container centered grey">
    </div>
    <div id="cloudfoundry-information" style="padding:20px">
    	
	</div>
	<div id="graph-cloudfoundry" style="margin:0 auto">
	</div>  
	<h4 class="ui horizontal divider header">
       Domain communication
    </h4>
	<div class="center">Order by
		<select onchange="drawMatrixAgain()" id="dropdown-cluster">
			<option value="">-</option>
			<option value="name">name</option>
		  	<option value="group">domain</option>
		  	<option value="count">frequency</option>
		</select>
		<div id="domain-graph">
			<!-- Matrix diagram -->
		</div>
	</div>
	
	<!-- MODAL -->
	<div class="ui modal">
	  <i class="close icon"></i>
	  <div class="header">
	    <i class="icon info circle"></i>Communication information
	  </div>
	  <div class="image content">
	    <div class="description">
	      <div id="header-infobox" class="ui header"></div>
	      <div id="content-infobox">
	      	<div class="ui two column grid">
	      		<div class="column" id="src-column">
	      			<p><span><b>Source domain: </b></span><span id="domain-src"></span></p>
	      			<p><span><b>Source service: </b></span><span id="name-src"></span></p>
	      		</div>
	      		<div class="column" id="dest-column">
	      			<p><span><b>Destination domain: </b></span><span id="domain-dest"></span></p>
	      			<p><span><b>Destination service: </b></span><span id="name-dest"></span></p>
	      		</div>
	      	</div>
	      	<div>
	      		<!-- TODO: write API between services etc etc. -->
	      	</div>
	      </div>	
	    </div>
	  </div>
	  <div class="actions">
	    <div class="ui black right deny button">
	      Close
	    </div>
	  </div>
	</div><!-- end of modal -->
	
</div><!-- end of fragment content -->
</body>
</html>